@page
@model EksamenRazorPageFixed.Pages.BlogsModel
@{
}
<!--Show All Blogs-->
<div class="row">
    <h3 class="accordion-body text-center">Our Blogs</h3>
    @foreach (var blog in Model.Blogs.Values)
    {
        var imagePath = "/Images/BlogImage/" + blog.BlogId + ".jpg";

        <div class="col-lg-4 card" style="width: 16rem;">
            <img src="@imagePath" class="card-img-top" alt="...">  
            <div class="card-body">
                <h5 class="card-title">Title: @blog.BlogTitel</h5>
                <p class="card-text">Author: @blog.Author.Name</p>
                <p class="card-text">Publish date: @blog.Date</p>
                <form method="post">
                    <button type="submit" class="btn btn-primary" name="Id" value="@blog.BlogId" asp-page-handler="GetBlogsByButton">BlogInfo</button>
                </form>

            </div>
        </div>
    }
</div>